.pagination__container {
    display: flex;
    justify-content: center;
}

.pagination__list {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
}

.pagination__item {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    
}